---
title: Peanu's blog.
layout: layouts/home.njk
description: Description. Update me.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  Hi，歡迎來到 Peanu's blog，這裡是分享技術文章的地方，希望藉由分享來解決比較繁瑣的問題。
</p>

<p>
  這裡的主題大多會圍繞在 Web 領域，但偶爾也有可能會出現其他領域的內容。
</p>

<div class="posts-wrapper">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>