---
title: Peanu's blog.
layout: layouts/home.njk
description: 分享 Web 相關技術，從寫文章中一步一步成長。
date: Last Modified
pagination:
  data: collections.posts
  size: 8
  reverse: true
  alias: posts
permalink: /{% if pagination.pageNumber > 0 %}articles/{{ pagination.pageNumber }}/{% endif %}
---

<div class="intro">
  <p>
    Hi，歡迎來到 Peanu's blog，這裡是分享技術文章的地方，希望藉由分享來解決繁瑣的問題。
  </p>
</div>


<div class="posts-wrapper">
  {% set postslist = posts %}
  {% include "postslist.njk" %}
</div>



{% if pagination.pages.length > 0 %}
  <nav class="pagination" aria-labelledby="pagination">
    <ol class="pagination-list">
      <li>
        <a 
          href="{{ pagination.previousPageHref }}"
          {% if pagination.pageNumber == 0 %}
            class="disabled"
          {% endif %}
        >
          ‹
        </a>
      </li>
    {% for pageEntry in pagination.pages %}
      <li>
        <a href="{{ pagination.hrefs[ loop.index0 ] }}"
          {% if page.url == pagination.hrefs[ loop.index0 ] %} 
            class="active"
            aria-current="page"
          {% endif %}>
          {{ loop.index }}
        </a>
      </li>
    {% endfor %}
        <li>
          <a 
            href="{{ pagination.nextPageHref }}"
            {% if pagination.pageNumber == pagination.pages.length - 1 %}
              class="disabled"
            {% endif %}
          >
            ›
          </a>
        </li>
    </ol>
  </nav>
{% endif %}