---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: “{{ tag }}” 的文章列表
permalink: /tags/{{ tag | slugify }}/
---

{% set postslist = collections[tag] %}
{% include "tagsList.njk" %}
