---
#layout: layouts/base.njk
templateClass: tmpl-post
---
{% extends "layouts/base.njk" %}


{% block extraArticleHeader %}
  {% set wc = content | striptags | wordcount %}
  {% set wPerMinute = (wc / 240) + 1 %}
  <aside>
    <div class="flex mb-20 justify-start items-center flex-wrap">
      <img class="avatar avatar-md mr-10" src="{{ metadata.author.avatarUrl }}" alt="author's avatar" />
      <a href='/about'>{{ metadata.author.name }}</a>&nbsp;於&nbsp;<time datetime="{{ date | htmlDateString }}" class="f-monospace">{{  date | htmlDateString }}</time>&nbsp;發佈&nbsp;
    </div>
    <ul class="post-tags">
      {% for tag in tags | excludePost  %}
        <li><a href="/tags/{{ tag }}">#{{ tag }}</a></li> 
      {% endfor %}
    </ul>
  </aside>
{% endblock %}

{% set shareUrl = metadata.url + page.url %}

{% block article %}
{{ content | safe }}

<hr />

<h3>關於作者</h3>
<div class="flex items-center">
  <img class="avatar avatar-lg" src="{{ metadata.author.avatarUrl }}" alt="author's avatar" />
  <a class="ml-10" href="/about">Peanu</a>
</div>
<p>{{ metadata.author.intro }}</p>

<share-widget>
  <button on-click="share" aria-label="Share" href="{{ shareUrl | safe }}">
    <div></div>
  </button>
</share-widget>

<script src="https://utteranc.es/client.js"
  repo="jubeatt/PeaNus-blog"
  issue-term="title"
  label="utterancex"
  theme="github-light"
  crossorigin="anonymous"
  async>
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title }}",
  "image": [],
  "author": "{{ metadata.author.name }}", 
  "genre": "{{ metadata.genre }}", 
  "publisher": {
    "@type": "Organization",
    "name": "{{ metadata.publisher.name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/img/favicon/favicon-192x192.png' | addHash }}"
    }
  },
  "url": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "mainEntityOfPage": "{{ metadata.url }}{{ canonicalUrl or page.url }}",
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.inputPath | lastModifiedDate  | htmlDateString }}",
  "description": "{{ content | striptags | truncate(140) }}"
}
</script>

{% endblock %}
